@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variable' as *;

.video-nav-item{
    display: flex;
    justify-content: left;
    margin-bottom: 13px;
    max-width: 320px;

    @include tablet{
        margin-bottom: $between-components-tablet;
    }

    &--clicked{
        display: none;
    }

    &__image{
        width: 110px;
        height: 64px;
        border-radius: 5px;
        margin-right: 15px;
    }

    .video-nav-text-wrap{
        @include flex-space-between;
        flex-direction: column;
    }

    &__title{
        @include subheader-mobile;
        font-weight: 600;
    }
}