@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variable' as *;

.video-nav-item{
    display: flex;
    justify-content: left;
    margin-bottom: 0.81rem;
    max-width: 20rem;

    @include tablet{
        margin-bottom: $between-components-tablet;
    }

    &--clicked{
        display: none;
    }

    &__image{
        width: 6.875rem;
        height: 4rem;
        border-radius: 0.3125rem;
        margin-right: 0.9375rem;
    }

    .video-nav-text-wrap{
        @include flex-space-between;
        flex-direction: column;
    }

    &__title{
        @include subheader-mobile;
        font-weight: 600;

        @include tablet{
            @include subheader-tablet;
            font-weight: 600;
        }
    }
}