@use './mixin' as *;
@use './variable' as *;

body {
  @include body-font-mobile;
  @include tablet {
      @include body-font-tablet;
  }
}
  
  // ----- Default Styles ----- //
  
.default-button {
  font-family: 'Avenir-Next';
  width: 100%;
  height: 2.5rem; //style-guide
  font-size: 0.75rem;
  font-weight: 500;
  color: $white;
  padding-top: 0.25rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.25rem; //style-guide
  background-color: $brainFlix-blue;
  cursor: pointer;
  
  &:hover {
    background-color: $brainFlix-darkBlue;
  }
    
  @include tablet {
    width: 9.38rem;
    min-width: 9.38rem; //style-guide
    padding-left: 2rem;
    padding-right: 2rem;
    background-position: 0.56rem 0.63rem;
    margin: 0;
  }
  
    @include desktop {
        margin-right: 0.63rem;
    }
  }
  

.user-icon {
  background-image: url('../../assets/images/pictures/Mohan-muruge.jpg');
  width: 2.38rem;
  height: 2.38rem;
  border-radius: 50%;
  background-size: 4.5rem;
  background-position-x: -0.5rem;
  background-position-y: -0.21rem;
}  

.default-brainFlix-logo {
  width: 7.5rem; //style-guide
  height: 1.56rem; //style-guide
  background-color: $white;
}

.mercury-border-bottom {
  border-bottom: 0.06rem solid $mercury;
}