// ---------- COLORS ---------- //
// Primary Colors
$brainFlix-black: #323232;
$brainFlix-blue: #0095FF;
$silver: #AFAFAF;
$white: #FFFFFF;

// Secondary Colors
$brainFlix-darkBlack: #000000;
$brainFlix-darkBlue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

// ---------- PADDINGS ---------- //
// Paddings for Tablet / Desktop
$before-headline-tablet: 2.25rem; //36px
$between-components-tablet: 1.5rem;  //24px

// Paddings for Mobile
$before-headline-mobile: 1.5rem;
$between-components-mobile: 1rem;


// ---------- MARGINS ---------- //
// Margins for Tablet
$side-margin-tablet: 1.5rem;

// Margins for Mobile
$side-margin-mobile: 1rem;