@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variable' as *;

.header{
    margin:0 auto;
    padding: 1rem;
    @include flex-space-between;
    flex-direction: column;
    align-items: center;
    max-width: 63.44rem;

    @include tablet {
        flex-direction: row;
        padding: 1rem $side-margin-tablet;
    }
    @include desktop {
        padding: 1rem 0;
    }

    &__logo{
        display: block;
        margin: 0 auto;
        margin-bottom: 0.63rem;

        @include tablet {
            margin: 0;
        }
    }

    .search-botton-icon-wrap{
        position: relative;
        width: 100%;
        min-width: 17.75rem;
        @include tablet {
            @include flex-space-between;
            flex-direction: row;
            align-items: center;
            width: 29rem;
            
        }
        @include desktop{
            width: 48%;
        }
    }

        &__search-bar{
            display: block;
            width: 80%;
            height: 2.5rem;
            border-radius: 0.25rem; //style-guide
            border: 0.06rem solid $mercury;
            margin-right: 1rem;
            background-image: url(../../assets/images/icons/search.svg);
            background-repeat: no-repeat;
            background-position: 1.06rem 0.69rem;
            background-size: 1.06rem;
            outline: none;
            padding: 1.06rem 2.5rem;

            &::placeholder {
                font-size: 0.75rem;
              }

            &:focus {
                border: 0.13rem solid $brainFlix-blue;
            }

            @include tablet{
                width: 14.88rem;
                margin: 0;
            }
        }
        
        &__upload-button{
            background-image: url(../../assets/images/icons/upload.svg);
            background-repeat: no-repeat;
            background-position: 0.56rem 0.69rem;
            background-size: 1.25rem;
        }

        &__icon{
            position: absolute;
            right: 0;
            top: 0;

            @include tablet {
                position: static;
            }
        }


}