@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variable' as *;

.video-nav-list{
    margin: $before-headline-mobile $side-margin-mobile;

    @include tablet{
        margin: $between-components-tablet $side-margin-tablet;
    }

    @include desktop{
        margin: $before-headline-tablet 0 $before-headline-tablet $between-components-tablet;
    }

    &__section-title{
        @include section-header-mobile;
        font-weight: 600;
        color: $silver;
        margin: $between-components-mobile 0;

        @include tablet {
            margin-top: 0;
            margin-bottom: $between-components-tablet;
        }
    }
}