@use '../../styles/partials/variable' as *;
@use '../../styles/partials/mixin' as *;

.user-comments {
    display: flex;
    padding-bottom: $between-components-mobile;

    @include desktop {
        padding-right: $between-components-tablet;
    }

    &__icon {
        background-color: $mercury;
        min-width: 2.25rem;
        height: 2.25rem;
        max-width: 2.25rem; //style-guide
        max-height: 2.25rem; //style-guide
        border-radius: 50%;
        margin-top: 0.94rem;

        @include tablet {
            min-width: 3rem;
            height: 3rem;
            max-width: 3rem; //style-guide
            max-height: 3rem; //style-guide
        }
    }

    .comment-info-wrap {
        width: 100%;
        
    }

    .name-date-wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__name {
        font-size: 0.88rem;
        font-weight: 600;
        margin: $between-components-mobile;

        @include tablet{
            margin-bottom: 0.2rem;
        }
    }

    &__date{
        margin: $between-components-mobile 0 $between-components-mobile $between-components-mobile;
        color: $silver;
        @include tablet{
            margin-bottom: 0.2rem;
        }
    }

    .detail-text-wrap {
        min-width: 0;
        width: 100%;
    }

    &__detail {
        padding: 0 0 0 $between-components-mobile;
        overflow-wrap: break-word;
    }
}


